body {
  font-family: Avenir, sans-serif;
}
header {
  background-color: #1f3a7a;
  height: 50px;
  border-bottom: #000 solid 3px;
}
header div {
  width: 960px;
  margin: 0 auto;
}
header h1 {
  font-family: Racing Sans One;
  color: #fff;
  font-size: 40px;
  padding-top: 5px;
}
main {
  width: 960px;
  margin: 0 auto;
}
div {
  margin-top: 50px;
}
img {
  height: 300px;
  border: 1px black solid;
  margin: 15px 5px 0px 5px;
  cursor: pointer;
}
img:first-child {
  margin-left: 0px;
}
img:last-child {
  margin-right: 0px;
}
h3 {
  margin-top: 10px;
}
canvas {
  margin-bottom: 60px;
}
footer {
  height: 50px;
  background-color: #d3d3d3;
  clear: both;
}
footer div {
  width: 960px;
  margin: 0 auto;
}
footer p {
  text-align: center;
  font-size: 11px;
  padding-top: 18px;
  font-weight: bold;
}
form {
  width: 400px;
  margin-top: 20px;
}
fieldset {
  padding-top: 8px;
}
label, input {
  display: inline-block;
  width: 175px;
  padding: 5px;
}
select {
  width: 190px;
  padding: 5px;
}
button {
  font-family: Racing Sans One;
  font-size: 15px;
  background-color: #1f3a7a;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 125px;
  padding: 10px 30px 10px 30px;
}
h2 {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}
ol li {
  padding-top: 20px;
}
ol li:first-child {
  float: left;
  padding-top: 0;
  margin-right: 20px;
  margin-bottom: 190px;
}
